{{ define "main" }}
<div class="sprint-page">
    <div class="page-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }}</p>
    </div>

    <h2 class="section-title">Conteúdo Disponível</h2>

    <div class="sprint-grid">

      
        {{/* Usamos .Pages.ByDate.Reverse para mostrar os mais recentes primeiro */}}
        {{ range .Pages.ByDate.Reverse }}
        <a href="{{ .RelPermalink }}" class="sprint-card">
            <div class="card-header">
                <h3>{{ .Title }}</h3>
                <span class="card-date">{{ .Date.Format "02/01/2006" }}</span>
            </div>
            <div class="card-body">
                <p>{{ .Params.description }}</p>
            </div>
            <div class="card-footer">
                <span>→ Acessar</span>
            </div>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}