<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "pt-br" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else }}
            {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>

    {{ partial "navbar.html" . }}

    {{ partial "hero.html" . }}

    <main>
        {{ block "main" . }}
        {{ end }}
    </main>

    {{ partial "footer.html" . }}
    
    <script src="{{ "js/app.js" | relURL }}"></script>
</body>
</html>