{{ define "main" }}
    
    {{/* O Hero padronizado (do baseof.html) já aparece aqui */}}

    <section class="content-list">
        <div class="container">
            
            <div class="content">
                <div class="list-header">
                    <h2>{{ .Title }}</h2>
                </div>

                {{ if .Content }}
                    <div class="list-description">
                        {{ .Content }}
                    </div>
                {{ end }}

                <ul class="page-list">
                    {{ range .Pages.ByTitle }}
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ if .Params.subtitulo }}
                                <p>{{ .Params.subtitulo }}</p>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
                
                {{ if eq (len .Pages) 0 }}
                    <p>Nenhum documento encontrado nesta seção.</p>
                {{ end }}
            </div>

        </div>
    </section>

{{ end }}