.homepage {
  background-color: #134611; /* Alterado de #1A3A3F (Fundo escuro principal) */
}


.main-content-card {
  background-color: #E8FCCF; /* Alterado de #f8f9fa (Fundo claro principal) */
  color: #134611; /* Alterado de #333 (Texto principal sobre fundo claro) */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 80px 5%;
  margin-top: -30px; 
  position: relative;
  z-index: 2;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}