:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #134611; /* Alterado de #213547 para o verde mais escuro da paleta */
  background-color: #E8FCCF; /* Alterado de #f8f9fa para o verde mais claro */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #3DA35D; /* Alterado de #646cff para a cor de destaque */
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: #3E8914; /* Alterado de #535bf2 para o verde médio (hover) */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* Fundo do botão mantido claro para contraste, mas você pode usar #3DA35D */
  background-color: #ffffff; 
  color: #134611; /* Garante que o texto do botão use a cor escura */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3DA35D; /* Alterado de #646cff para a cor de destaque */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}