
.mapa-page-container {
  display: flex;
  flex-direction: column; /* Organiza os filhos (conteúdo e footer) em uma coluna */
  min-height: 100vh;      /* Garante que a página ocupe NO MÍNIMO a altura total da tela */
  background-color: #f0f2f5;
  overflow: hidden;
}

/* Este é o container que segura o mapa e o painel de informações */
.content-wrapper {
  display: flex;
  flex-grow: 1; /* <-- ESSA É A PROPRIEDADE MÁGICA! */
  /* Ela faz esta div crescer e ocupar todo o espaço vazio, empurrando o footer para baixo */
  transition: all 0.8s ease-in-out;
}

.map-area {
  transition: flex 0.8s ease-in-out;
  flex: 1 0 100%;
  position: relative;
  width: 100%;      

}

.panel-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: flex 0.8s ease-in-out;
  flex: 0 0 0%;
  overflow: hidden;
}

/* --- ESTADO ATIVO: Quando uma região é selecionada --- */
.content-wrapper.region-selected .map-area {
  flex: 1 0 60%;
}

.content-wrapper.region-selected .panel-area {
  flex: 1 0 40%;
}