/* src/style/MapaPage.css */

.mapa-page-container {
  width: 100%;
  background-color: #E8FCCF;
  min-height: 100vh; /* Garante que o fundo cubra a altura total */
}

.content-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1440px; 
  margin: 0 auto;     
  height: 100vh;
  
  /* --- ALTERAÇÃO DE PADDING ASSIMÉTRICO --- */
  /* Ordem: Cima(2rem) | Direita(2rem) | Baixo(2rem) | Esquerda(7rem) */
  /* 7rem (aprox 112px) na esquerda: espaço para o menu hambúrguer */
  /* 2rem (aprox 32px) na direita: mantém a tabela alinhada bonitinha */
  padding: 2rem 2rem 2rem 7rem; 
  /* ---------------------------------------- */
  
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.map-area {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white; 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  transition: flex 0.4s ease-in-out;
  flex: 1 0 100%; 
  overflow: hidden;
  z-index: 1;
}

.panel-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  transition: flex 0.4s ease-in-out, min-width 0.4s ease-in-out, opacity 0.3s ease;
  flex: 0 0 0; 
  width: 0;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  z-index: 2000; 
}


.content-wrapper.region-selected .map-area {
 
  flex: 1; 
}

.content-wrapper.region-selected .panel-area {
  flex: 0 0 450px; 
  opacity: 1;
  padding-left: 2rem;
  min-width: 320px; 
}

.zoom-out-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.zoom-out-button {
  background-color: #3DA35D; 
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.zoom-out-button:hover {
  background-color: #E8FCCF; 
  border: 1px solid #3E8914; 
  color: #3E8914; 
}

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-container path:focus {
  outline: none !important;
  box-shadow: none;
}