/* src/style/MapaPage.css */

.mapa-page-container {
  width: 100%;
  background-color: #E8FCCF;
  min-height: 100vh; /* Garante que o fundo cubra a altura total */
}

.content-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1440px; 
  margin: 0 auto;     
  height: 100vh;
  padding: 2rem 2rem 2rem 7rem;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.map-area {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white; 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  transition: flex 0.4s ease-in-out;
  flex: 1 0 100%; 
  overflow: hidden;
  z-index: 1;
}

.panel-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  transition: flex 0.4s ease-in-out, min-width 0.4s ease-in-out, opacity 0.3s ease;
  flex: 0 0 0; 
  width: 0;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
  z-index: 2000; 
}


.content-wrapper.region-selected .map-area {
 
  flex: 1; 
}

.content-wrapper.region-selected .panel-area {
  flex: 0 0 450px; 
  opacity: 1;
  padding-left: 2rem;
  min-width: 320px; 
}

path.leaflet-interactive:focus {
  outline: none;
}

.leaflet-container path:focus {
  outline: none !important;
  box-shadow: none;
}


@media (max-width: 768px) {
  .content-wrapper.region-selected .map-area {
    flex: 1 1 100%;
    height: 100vh;
  }

  .content-wrapper.region-selected .panel-area {
    max-height: 90vh;
    padding: 0rem;
    min-width: unset;
    background-color: #134611;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
  }

  .content-wrapper {
    padding: 0rem;
    flex-direction: column;
    min-height: 100vh;
  }

  .map-area {
    flex: 1 1 auto;
    height: 85vh;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .panel-area {
    flex: unset;
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    max-height: 0vh;
    min-height: 50px;

    padding: 1rem;
    background-color: #134611;
    border-radius: 30px 30px 0 0;

    opacity: 1;

    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
  }

  .site-footer {
    display: none;
  }

}

@media (max-height: 480px) {

  .site-footer {
    display: none;
  }

}