.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1002; /* Fica acima da sidebar */
  background: white;
  color: #0d4b55;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;

  border: 1px solid #e0e0e0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;

}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #242424;
  transform: translateX(-100%); /* Escondido por padrão */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 60px; /* Espaço para o botão não sobrepor o conteúdo */
}

.sidebar.open {
  transform: translateX(0); /* Visível quando a classe 'open' é aplicada */
}

.sidebar.open + .sidebar-toggle{
    transform: translateX(250px);
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li a {
  display: block;
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}

.sidebar nav li a:hover {
  background-color: #333;
}

/* O NavLink adiciona a classe 'active' automaticamente */
.sidebar nav li a.active {
  background-color: #646cff;
  font-weight: bold;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Fica atrás da sidebar, mas na frente do conteúdo */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar-overlay.open {
  opacity: 1;
  visibility: visible;
}